<div class="navbar-container">
  <zaj-button class="nav-btn" size="icon" variant="ghost" (click)="toggleNavbar()">
    <zaj-icon class="menu-icon" name="menu_icon"></zaj-icon>
  </zaj-button>

  <nav #navRef class="nav">
    <zaj-button class="nav-btn nav-close-btn" size="icon" variant="ghost" (click)="toggleNavbar()">
      <zaj-icon class="close-icon" name="close_icon"></zaj-icon>
    </zaj-button>

    @for (navLink of navLinks(); track navLink.route) {
      <a [routerLink]="navLink.route" (click)="navLink.clickFunction()">{{navLink.label | translate}}</a>
    }
  </nav>

  <zaj-button routerLink="/home" variant="ghost">
    <zaj-icon name="zajac_icon"></zaj-icon>
  </zaj-button>
</div>
