<div class="navbar-container">
  <zaj-button class="nav-btn" size="icon" variant="ghost" (click)="toggleNavbar()">
    <zaj-icon class="menu-icon" name="menu_icon"></zaj-icon>
  </zaj-button>

  <nav #navRef class="nav">
    <zaj-button class="nav-btn nav-close-btn" size="icon" variant="ghost" (click)="toggleNavbar()">
      <zaj-icon class="close-icon" name="close_icon"></zaj-icon>
    </zaj-button>

    <a routerLink="/">{{ 'i18n.navbar.home' | translate }}</a>
    <a routerLink="/products">{{ 'i18n.navbar.products' | translate }}</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/about">{{ 'i18n.navbar.about' | translate }}</a>
  </nav>
</div>
