:root {
  --theme-color-primary-100: #ffe5e5;
  --theme-color-primary-200: #fbbbbb;
  --theme-color-primary-300: #f28b8b;
  --theme-color-primary-400: #ea5a5a;
  --theme-color-primary-500: #e22a2a;
  --theme-color-primary-600: #c31e1e;
  --theme-color-primary-700: #a41313;
  --theme-color-primary-800: #860909;
  --theme-color-primary-900: #690000;

  --theme-color-secondary-100: #ffffff;
  --theme-color-secondary-200: #f2f2f2;
  --theme-color-secondary-300: #d9d9d9;
  --theme-color-secondary-400: #bfbfbf;
  --theme-color-secondary-500: #a6a6a6;
  --theme-color-secondary-600: #8c8c8c;
  --theme-color-secondary-700: #737373;
  --theme-color-secondary-800: #404040;
  --theme-color-secondary-900: #1a1a1a;

  --theme-background: #000000;
  --theme-text-primary: #ffffff;
  --theme-text-accent: var(--theme-color-primary-500);

  --text-color-primary: var(--theme-color-primary-700);

  --padding-base: 16px;
  --padding-base-half: calc(var(--padding-base) / 2);
  --padding-base-quarter: calc(var(--padding-base) / 4);

  --button-padding-base: 16px;
  --button-padding-base-half: calc(var(--button-padding-base) / 2);

  --gap-base: 8px;
  --gap-base-half: calc(var(--gap-base) / 2);
  --gap-base-quarter: calc(var(--gap-base) / 4);

  --text-size-base: 14px;
  --text-size-small: 10px;
  --text-size-large: 20px;

  --text-heading-size: 96px;

  --button-size-base: 32px;
}

@media (max-width: 1250px) {
  :root {
    --text-heading-size: 46px;
    --padding-base: 8px;
  }
}

@media (max-width: 768px) {
  :root {
    --padding-base: 4px;
    --gap-base: 6px;
    --text-heading-size: 46px;
  }
}
