/* You can add global styles to this file, and also import other style files */
@import "globals.scss";
@import "_variables.scss";

@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
  url("./app/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
  url("./app/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}

html, body {
  height: 100%
}

html {
  background-color: var(--theme-color-secondary-900);
  font-size: 14px;
}

body {
  font-family: 'GilroyBold';
  letter-spacing: 0.05em;
  color: var(--text-color-primary);

  span {
    font-family: 'GilroyRegular';
  }

  b, strong {
    font-family: 'GilroyBold';
    font-weight: bold;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

.page-container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  flex: 1;
  overflow: auto;
}
