:host {
  display: block;
  height: 100%;
  width: 100%;

  padding: var(--padding-base) calc(var(--padding-base) * 10);
}

.showcase-page-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-base) * 4);
  height: 100%;
}

.showcase-page-info-text {
  display: inline-block;
  font-size: var(--text-size-large);
  color: white;
  overflow: auto;
}

.showcase-background-image {
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/images/porsche.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: absolute;
  z-index: var(--z-index-background);
}
