<div class="showcase-background-image"></div>
<div class="showcase-page-container">
  <zaj-heading textColor="--text-color-primary">{{'i18n.navbar.showcase' | translate }}</zaj-heading>
  <span class="showcase-page-info-text">proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text proste nejaky text </span>
</div>
